PAY: ajouter form stripe     
<div class="py-5 text-center">
      <img class="d-block mx-auto mb-4" src="{{ home }}img/logo_FR.svg" alt="" width="72" height="57">
      <p class="lead">Below is an example form built entirely with Bootstrap’s form controls. Each required form group has a validation state that can be triggered by attempting to submit the form without completing it.</p>
    </div>  