<div class="header">
     <div class="content centered">
          <div class='logo'><a href='{{ home }}'><img src='{{ logo_svg_url }}'></a></div>
     </div>
     <div class='langselect'>{{ langselect|raw }}</div>
     {% include "_nav.twig" %}
</div> 