

    <div class="chat-box mt-3">
      <!-- Chat messages will be added here dynamically -->
    </div>
    <div class="form-group mt-3">
      <textarea class="form-control" rows="3" placeholder="Type your message here" id="message-input"></textarea>
    </div>
    <button type="button" class="btn btn-primary" id="send-btn">Send</button> 
  