
{% extends "landing.twig" %}
{% block content %}  
 template global landing sans header ni footer par défaut, on peut mettre le contenu qu'on veut 
<div class='content landing_Version' id='directtest'> 
      
       Landing page 2 . et si on testait avec votre rêve ? immersion directe
</div>
{% endblock %}
