{% extends "page.twig" %}
 
{% block content %}  
    <div class="content {{ page_name }}_content">

        {% for section in sections %}
        <section class="{{ section.name }}" id="{{ section.id }}">
         {% include section.section_content %}

        </section>
    {% endfor %}
    </div> 
{% endblock %}
